* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #444;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.6rem 3.2rem 1.6rem 3.2rem;
}

.section-header {
  padding: 3.2rem;
  height: 90vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(DSC_4444-4212292.webp);
  background-size: cover;
  color: #f5e9f4;
}

nav {
  font-size: 2rem;
  font-weight: 700;

  padding: 0 1.8rem;
  /* height: 18rem; */

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  max-width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: violet; */
}

.logo-mid {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}
.heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 5.2rem;
  color: #f5e9f4;
  text-align: center;
  letter-spacing: -0.5px;
}
.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 5.2rem;
  color: #f5e9f4;
  text-align: center;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  background-color: #8f2281;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  transition: all 0.2s;
}
.btn:hover,
.btn:active {
  background-color: #b251a5;
}
.logo-box {
  width: 20rem;
}

.logo {
  width: 100%;
}

.section-tombole {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}
.section-castiguri {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}

.section-shop1 {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}

.section-features {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}

.section-gallery {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}

.section-vid {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}
.section-contact {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}

.grid {
  display: grid;
  gap: 9.6rem;
  row-gap: 5.2rem;
}

.grid--1-cols {
  grid-template-columns: repeat(1, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.flex-vid {
  text-align: center;
}

.grid--3-rows {
  grid-template-rows: repeat(3, 1fr);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
/* .flex-col {
  height: 9.6rem;
} */

.vert {
  height: 16rem;
  background-size: cover;
  background-position-y: center;
  border-radius: 6rem;
}

.vert--1 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(/castig1.jpg);
}
.vert--2 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(/castig2.jpg);
}
.vert--3 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(/castig3.jpg);
  background-position-y: 25%;
}

.img {
  width: 100%;
  height: 100%;
}

.castiguri {
  color: #300b2b;
}

.car {
  padding: 0 2.4rem;
  margin: 0 auto;
  max-width: 90rem;
}
.img-car1 {
  background-image: url(/car1.jpg);
}
.img-car2 {
  background-image: url(/car2.jpg);
}
.img-car3 {
  background-image: url(/car3.jpg);
}
.img-car4 {
  background-image: url(/car4.jpg);
}
.feature-icon {
  color: #8f2281;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #e2bedd;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #e2bedd;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  color: #e2bedd;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
}

/* CARUSEL */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
  background-position-y: center;
  background-size: 80%;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;

  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Gallery */
.container-gal {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5fr 1fr;
  /* background: #021919; */
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.tab {
  width: calc(10vh + 8px);
  height: calc(10vh + 8px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  z-index: 0;
  transition: width 0.5s;
}

.tab img {
  width: 10vh;
  height: 10vh;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  transition: width 0.5s;
}

[type="radio"] {
  display: none;
}

.preview-list {
  background: linear-gradient(
    #021919,
    #021919 var(--line-offset),
    #efefef var(--line-offset)
  );
}

.tab {
  background: linear-gradient(
    #efefef,
    #efefef var(--line-offset),
    #021919 var(--line-offset)
  );
}

[type="radio"]:checked ~ label ~ .content {
  text-align: center;
  z-index: 8;
}

[type="radio"]:checked ~ label .tab {
  width: 0;
}

.content {
  position: absolute;
  /* background: #021919; */
  background: none;
  top: 1vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content img {
  height: auto;
  width: 100vw;
}
