* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #444;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.6rem 3.2rem 1.6rem 3.2rem;
}

/* MODAL */

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #e2bedd;
  color: #300b2b;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #300b2b;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: #e2bedd;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.5s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.body-no-scroll {
  overflow: hidden;
  /* Optional: Prevent the body from shifting due to the scrollbar disappearing */
  padding-right: calc(var(--scrollbar-width, 0px) + 1px);
}
.modal-btns {
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1.8rem;
  flex-wrap: wrap;
}

.modal-btn,
.modal-btn:link,
.modal-btn:visited {
  font-size: 2.4rem;
  font-weight: 600;
  /* background-color: #e2bedd;
  color: #8f2281; */
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  transition: all 0.2s;

  border: none;
  cursor: pointer;
}
.modal-btn,
.modal-btn:hover,
.modal-btn:active {
  background-color: #e2bedd;
  color: #8f2281;
}

.modal-no {
  background-color: #f5e9f4;
  color: #8f2281;
}
.modal-yes {
  background-color: #b251a5;
  color: white;
}

.modal-p {
  font-size: 1.4rem;
}

/* SLIDER */

.slider,
.slider2 {
  position: relative;

  width: 100%; /* Full width of the container */
  max-width: 80rem; /* Maximum size of the slider */
  margin: auto; /* Center the slider */
  overflow: hidden; /* Hide the non-visible parts of the images */
}

.slides,
.slides2 {
  max-height: 60vh;
  display: flex; /* Align slides in a row */
  transition: transform 0.5s ease; /* Smooth transition for sliding effect */
}

.slide,
.slide2 {
  min-width: 100%;
  transition: transform 0.5s ease;
}

.slide img,
.slide2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without losing its aspect ratio */
  object-position: center; /* Ensures the image is centered in the container */

  border-radius: 11px;
}

.slide-arrow,
.slide-arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e2bedd;
  border: none;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
}

.slider-arrows {
  font-size: 4.2rem;
  color: #300b2b;
}

.prev-arrow,
.prev-arrow2 {
  left: 1rem;
}

.next-arrow,
.next-arrow2 {
  right: 1rem;
}

/* Header */
.section-header {
  padding: 3.2rem;
  height: 90vh;
  position: relative;

  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(/img/DSC_4444-4212292.webp);
  background-size: cover;
  color: #f5e9f4;
}

.nav {
  font-size: 2rem;
  font-weight: 700;

  padding: 0 1.8rem;
  /* height: 18rem; */

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  max-width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: violet; */
}

.logo-mid {
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}
.header-social-icon {
  height: 3.6rem;
  width: 3.6rem;
}
.header-link:link,
.header-link:visited {
  align-self: center;
  justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  color: #e2bedd;
}
.header-link:hover,
.header-link:active {
  color: #b251a5;
  transition: all 0.2s;
}

h1 {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 5.2rem;
  color: #f5e9f4;
  text-align: center;
  letter-spacing: -0.5px;
}
.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 5.2rem;
  color: #f5e9f4;
  text-align: center;
}

.p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  background-color: #e2bedd;
  color: #8f2281;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.9rem;
  transition: all 0.2s;

  border: none;
  cursor: pointer;
}
.btn,
.btn:hover,
.btn:active {
  background-color: #b251a5;
}
.logo-box {
  width: 20rem;
}

.logo {
  width: 100%;
}

.section-tombole {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}
.section-castiguri {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}

.section-slider1 {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}
.section-slider2 {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}

.section-features {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}

.section-gallery {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}

.section-vid {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}
.section-contact {
  padding: 3.2rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
}
.section-cta {
  padding: 9.6rem 0;
  background-image: linear-gradient(rgb(207, 147, 199), rgba(48, 11, 43, 1));
}

.grid {
  display: grid;
  gap: 9.6rem;
  row-gap: 5.2rem;
}

.grid--1-cols {
  grid-template-columns: repeat(1, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 3fr;
}
.flex-vid {
  text-align: center;
}
.vid {
  width: 720px;
  height: 480px;
  /* width: 360px;
  height: 240px;  */
  margin-bottom: 1.6rem;
  border-radius: 11px;
  height: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.grid--3-rows {
  grid-template-rows: repeat(3, 1fr);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
/* .flex-col {
  height: 9.6rem;
} */

.vert {
  height: 16rem;
  background-size: cover;
  background-position-y: center;
  border-radius: 11px;
}

.vert--1 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(img/castig1.webp);
  background-size: 230%;
  background-position-x: 55%;
  background-position-y: 50%;
}
.vert--2 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(img/castig2.webp);
  background-size: 200%;
  background-position-x: 45%;
  background-position-y: 48%;
}
.vert--3 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.4),
      rgba(34, 34, 34, 0.4)
    ),
    url(img/castig3.webp);
  background-position-y: 25%;
}

.img {
  width: 100%;
  height: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.castiguri {
  color: #300b2b;
}

.feature-icon {
  color: #8f2281;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #e2bedd;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #e2bedd;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  color: #e2bedd;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cv-container {
  background-image: url(img/IMG-cv.webp);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-cv {
  display: block;
  color: #300b2b;
  font-weight: 700;
  font-size: 2.4rem;
  background-color: #efefef;
  border-radius: 1rem;
  padding: 0 1.6rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(
    to right bottom,
    rgba(207, 147, 199),
    rgba(48, 11, 43, 1)
  );

  padding: 0;
  overflow: hidden;
}
.cta-text-box {
  color: #f5e9f4;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(207, 147, 199, 0.35),
      rgba(48, 11, 43, 0.35)
    ),
    url("img/money.webp");
  background-size: cover;

  background-position-x: 50%;
}
.cta-text-box .heading-secondary {
  text-align: unset;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #f5e9f4;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  align-self: end;
  padding: 1.2rem;
  background-color: #8f2281;
  color: #f5e9f4;
}
.btn--form:hover {
  background-color: #b251a5;
}

.map-responsive {
  /* overflow: hidden; */
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 3.2rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer {
  padding: 12.9rem 0;
  background-image: linear-gradient(rgba(48, 11, 43, 1), rgb(207, 147, 199));
  color: #f5e9f4;
}

.logo-col {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #e2bedd;
}
.footer-link:hover,
.footer-link:active {
  color: #b251a5;
  transition: all 0.2s;
}
.social-links {
  /* margin-top: 2.6rem; */
  align-items: center;
  list-style: none;
  display: flex;
  gap: 2.4rem;
  justify-content: start;
  z-index: 1;
}
.social-links li a {
  display: flex;
}
.footer-logo {
  display: block;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: auto;
}
.contact {
  font-size: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
